<appSettings>
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!--
		Specify paths for various converters/extractors/etc.
		leave blank if not installed.
		If running on Windows, make sure MonoPath is empty as well.
	-->
  <add key="MonoPath" value="/usr/bin/mono" />
  <add key="7zipPath" value="/usr/local/bin/7z" />
  <add key="FFmpegPath" value="/usr/local/bin/ffmpeg" />
  <add key="ImageMagickPath" value="/usr/local/bin/convert" />
  <add key="TimidityPath" value="/usr/local/bin/timidity" />
  <add key="XmpPath" value="/usr/local/bin/xmp" />
  <!-- 
    It is hard to find unzip tools that support legacy zip methods 
    on windows, but this one seems to work 
    http://gnuwin32.sourceforge.net/packages/unzip.htm
    -->
  <add key="UnzipPath" value="C:\Program Files (x86)\GnuWin32\bin\unzip.exe" />
  <!--
		Specify paths to the 16c archive and the cache directory to use
		For windows, use windows formatted paths (e.g. c:\my\path\to\sixteencolors\archive)
 		-->
  <add key="16c:ArchiveLocation" value="/my/path/to/sixteencolors/archive" />
  <add key="16c:CacheLocation" value="/my/path/to/sixteencolors/cache" />
  <add key="RouteDebugger:Enabled" value="false" />
  <!--
    Store the textual content of the file in the database
    -->
  <add key="EnableContentSave" value="false" />

  <add key="ApplicationNameLong" value="Pablo Gallery" />
  <add key="ApplicationNameShort" value="" />
  <add key="WelcomeMessage" value="&lt;p&gt;Hello, world.&lt;/p&gt;" />
  <add key="EnableGallery" value="true" />
  <add key="PreviewUrlMaxWidth" value="320" />
  <add key="PreviewWidth" value="160" />
  <add key="IsPreviewWidthStatic" value="true" />
  <add key="SiteDescription" value="Incomplete" />
  <!-- currently this supports the old way of doing things, ga.js, not Universal Analytics (analtyics.js)-->
  <add key="GoogleAnalyticsTrackingId" value="" />
</appSettings>