<?xml version="1.0"?>
<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings configSource="connectionStrings.config" xdt:Transform="SetAttributes(configSource)" />
	<appSettings xdt:Transform="RemoveAttributes(file)">
		<add key="16c:ArchiveLocation" value="/var/www/sixteencolors-archive" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="16c:CacheLocation" value="/var/www/sixteencolors-cache" xdt:Transform="Replace" xdt:Locator="Match(key)" />
	</appSettings>
	<!-- 
				Mono does not currently properly support the file attribute, use configSource instead
				Unfortunately configSource does not merge configurations, but replaces them entirely.
	-->
	<appSettings xdt:Transform="SetAttributes(configSource)" configSource="app.config" />
	<system.web>
		<caching>
			<outputCache enableOutputCache="true" xdt:Transform="SetAttributes" />
		</caching>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
	</system.web>
</configuration>