<?xml version="1.0"?>
<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings xdt:Transform="RemoveAttributes(configSource)" />
	<appSettings xdt:Transform="RemoveAttributes(configSource)">
	</appSettings>
	<!-- 
				Mono does not currently properly support the file attribute, use configSource instead
				Unfortunately configSource does not merge configurations, but replaces them entirely.
	-->
	<system.web>
		<caching>
			<outputCache enableOutputCache="true" xdt:Transform="SetAttributes" />
		</caching>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
	</system.web>
</configuration>