@model Pablo.Gallery.Api.ApiModels.YearResult
@{
    ViewBag.Title = "Years";
}
@section SecondaryHeader {
    <h2>Years</h2>
}
<ul id="result" class="years"></ul>
<div id="loading">Loading...</div>

@section Scripts {
<script id="year-template" type="text/x-jsrender">
	<li class="year">
		<a href="@Url.RootUrl(){{attr:url}}" title="{{attr:year}} - {{attr:packs}} packs" class="btn btn-default">
			<span class="file-name">{{>year}}</span>
            <span class="packs">{{for ~getFields(packs/2)}}.{{/for}}</span>
		</a>
	</li>
</script>

<script>
	$(function() {
		$('#result').pageloader({
			url: "@Url.RouteUrl("api", new { httproute="", Controller = "year"})",
			template: "#year-template",
			loading: "#loading",
			selector: function(data) { return data.years; },
			onComplete: function () {
			    // var msnry = new Masonry('.files', {});
			    var maxHeight = Math.max.apply(null, $("li.year a").map(function () {
			        return $(this).height();
			    }).get());
			    $("li.year a").height(maxHeight);
			}
		});

	    $.views.helpers({
	        getFields: function (count) {
	            var fieldsArray = [];
	            for (var i = 0; i < count; i++) {
	                fieldsArray.push({});
	            }

	            return fieldsArray;
	        }
	    });

	});
</script>
}