@using System.Web.Configuration
﻿@model Pablo.Gallery.Models.File
@{
    ViewBag.Title = Model.Pack.Name + "\\" + Model.FileName;
	var show = Request["display"] != "true";
	ViewBag.ShowNav = show;
	ViewBag.PreviewImageUrl = Request.Url.Scheme + System.Uri.SchemeDelimiter + Request.Url.Host + Url.Content(Model.PreviewUrl());	
}
@if (show) {
	<h2>@Html.ActionLink(Model.Pack.Name, "Detail", new { pack = Model.Pack.Name })\@Model.FileName</h2>
	<p>
		<a href="@Url.Content(Model.DownloadUrl())">Download File</a>
	</p>
}
else {
	<h3>@Model.FileName</h3>
}
<p class="main-image">
	@Html.Partial("_type_" + Model.OutputType, Model)
</p>